<div class="list-group table-of-contents">
    <div class="list-group-item" ui-sref="clients" ng-if="leftNav.currentUser && leftNav.currentUser.profileStatus == 'admin'">Clients:
        <a ui-sref="clients" class="document-link">All</a>
    </div>
    <div class="list-group-item" ng-if="leftNav.isLoggedIn">
        Documents:
        <a href="#documents" class="document-link">All</a>
        <a href="#documents" class="document-link">In Progress</a>
        <a href="#documents" class="document-link">To Send</a>
        <a href="#documents" class="document-link">Unresponded</a>
    </div>
</div>