<div class="list-group table-of-contents left-nav">
    <div class="list-group-item" ng-if="leftNav.currentUser && leftNav.currentUser.profileStatus == 'admin'">
        <a ui-sref="home.users" class="category-link">Clients</a>
    </div>
    <div class="list-group-item" ng-if="leftNav.isLoggedIn">
        <span class="category-name">Documents:</span>
        <a href="#documents" class="category-link">All</a>
        <a href="#documents" class="category-link">In Progress</a>
        <a href="#documents" class="category-link">To Send</a>
        <a href="#documents" class="category-link">Unresponded</a>
    </div>
</div>