<div class="row">
    <div class="col-md-3">
        <div class="list-group table-of-contents">
            <div class="list-group-item" href="#clients">Clients:
                <a href="#documents" class="document-link">All</a>
            </div>
            <div class="list-group-item">Documents:
                <a href="#documents" class="document-link">All</a>
                <a href="#documents" class="document-link">In Progress</a>
                <a href="#documents" class="document-link">To Send</a>
                <a href="#documents" class="document-link">Unresponded</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-sm-6">
                <a href="#" class="btn btn-default btn-lg btn-block">Add new client</a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-default btn-lg btn-block">Add new document</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 m-t-5">
                <div class="well" ng-show="newUser.success">Saved</div>
                <form class="form-horizontal" ng-submit="newUser.add()">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputUserName" class="col-lg-2 control-label">User name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputUserName" placeholder="User name" ng-model="newUser.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="newUser.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="newUser.password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary btn-block m-t-1">Add</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

