<div class="col-sm-12"></div>

    <input type="text" class="form-control m-b-2" placeholder="Search" ng-model="searchValue">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th> 
                    <a href="#" ng-click="sortReverse = !sortReverse; sortType = 'ownerName'">Client name</a>
                    <span ng-show="sortType == 'ownerName' && !sortReverse">&#9663;</span>
                    <span ng-show="sortType == 'ownerName' && sortReverse">&#9653;</span>
                </th>
                <th>
                    <a href="#" ng-click="sortReverse = !sortReverse; sortType = 'documentInfo.name'">Document</a>
                    <span ng-show="sortType == 'documentInfo.name' && !sortReverse">&#9663;</span>
                    <span ng-show="sortType == 'documentInfo.name' && sortReverse">&#9653;</span>
                </th>
                <th>
                    <a href="#" ng-click="sortReverse = !sortReverse; sortType = 'documentInfo.date'">Upload date</a>
                    <span ng-show="sortType == 'documentInfo.date' && !sortReverse">&#9663;</span>
                    <span ng-show="sortType == 'documentInfo.date' && sortReverse">&#9653;</span>
                </th>
                <th>
                    <a href="#" ng-click="sortReverse = !sortReverse; sortType = 'documentInfo.status'">Status </a>
                    <span ng-show="sortType == 'documentInfo.status' && !sortReverse">&#9663;</span>
                    <span ng-show="sortType == 'documentInfo.status' && sortReverse">&#9653;</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="doc in documents.allDocuments | orderBy:sortType:sortReverse | filter:searchValue">
                <td>{{$index + 1}}</td>
                <td>{{doc.ownerName}}</td>
                <td><a href="" ng-click="documents.downloadDocument(doc.ownerId, doc.documentInfo.name)">
                        {{doc.documentInfo.name}}
                        </a></td>
                <td>{{doc.documentInfo.date | date}}</td>
                <td>{{doc.documentInfo.status}}</td>
            </tr>
        </tbody>
    </table>
</div>