<div class="row">
    <div class="col-sm-6">
        <a ui-sref="newUser" class="btn btn-default btn-lg btn-block">Add new client</a>
    </div>
    <div class="col-sm-6">
        <a ui-sref="#" class="btn btn-default btn-lg btn-block">Add new document</a>
    </div>
    <div class="col-sm-12">
        <div>
            <h6 class="list-group-item" ng-if="home.currentUser && home.currentUser.profileStatus == 'admin'">Users:</h6>
            <h6 class="list-group-item" ng-if="home.currentUser && home.currentUser.profileStatus != 'admin'">Documents:</h6>
            <ul>
                <li><a href="">Item</a></li>
            </ul>
        </div>
    </div>
</div>